* {
  box-sizing: border-box;
}

body {
  background-color: skyblue;
}

h1 {
}

.container {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px 10px;
}

.element {
  height: 400px;
  width: 400px;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}

.name {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.delete {
  display: inline-block;
  background-color: rgb(155, 141, 141);
}

.form {
  text-align: center;
  margin: 30px 0;
}

input {
  height: 30px;
  border-radius: 10px;
  border: none;
}

.time {
  font-size: 40px;
  font-weight: 400;
}

.dis {
  font-size: 20px;
  font-weight: 400;
}
